<div class="formInput tableView">
<h2>Presentation Evaluation</h2>
<!-- Details of this feedback-->
<% presentation = Presentation.find @feedback.presentation_id %>
<% team = Team.find presentation.team_id %>
<h2>Presentation <%=presentation.name%> given by <%=team.name%></h2>
<% if team.users.any? %>
<h3>Presenter(s):</h3>
<ul>
  <% team.users.each do |user| %>
    <li><%=user.first_name%> <%=user.last_name%></li> 
  <%end%>
</ul>
<%end%>
  <div class="feedbackTable">         
        <table class="table table-striped table-dark table-bordered">
          <thead>
            <tr>
              <th>Presentation Organization</th>

              <th>Rating</th>


            </tr>
          </thead>
          <tbody>

             
                <tr>
                	<th>The introdution gave me a clear idea of the topic.</th>
                  	<td><%= @feedback.po1 %></td>
                  	
                </tr>
                <tr>
                	<th>The introdution gave me a clear idea of the direction of the presentation would take.</th>
                	
                  	<td><%= @feedback.po2 %></td>
                  	
                </tr>  
                <tr>
                	<th>The presentation presented information in a logical, interesting sequence.</th>
                	
                  	<td><%= @feedback.po3 %></td>
                  	
                </tr>  
                <tr>
                	<th>The conclusion did a good job of summarizing the content of the presentation.</th>
                	
                  	<td><%= @feedback.po4 %></td>
                  	
                </tr>
                <tr>
                	<th>Enough essential information was given to allow me to effectively evaluate the topic</th>
                	
                  	<td><%= @feedback.po5 %></td>
                  	
                </tr>  
                <tr>
                	<th>The presentation was free from irrelevant or filler information.</th>
                	
                  	<td><%= @feedback.po6 %></td>
                  	
                </tr>
                <tr>
                	<th>The presentation filled the time allotted.</th>
                	
                  	<td><%= @feedback.po7 %></td>
                  	
                </tr>  
                
             </tbody>
          </table>
          
          <table class="table table-striped table-dark table-bordered">
          <thead>
            <tr>
              <th>Presentation Content</th>

              
              <th>Rating</th>


            </tr>
          </thead>
          <tbody>
                <tr>
                	<th>I could easily follow the main points of the presentation.</th>
                	
                  	<td><%= @feedback.pc1 %></td>
                  	
                </tr>
                <tr>
                	<th>The presenter had a clear understanding of the material presented</th>
                	
                  	<td><%= @feedback.pc2 %></td>
                  	
                </tr> 
                <tr>
                	<th>The plans, recommendations and/or conclusions are consistent with the findings</th>
                	
                  	<td><%= @feedback.pc3 %></td>
                  	
                </tr>  
                <tr>
                	<th>Presenter answers all questions with explanations and elaboration</th>
                	
                  	<td><%= @feedback.pc4 %></td>
                  	
                </tr>  
                    </tbody>
          </table>
          
          
          <table class="table table-striped table-dark table-bordered">
          <thead>
            <tr>
              <th>Presentation Visuals</th>

              
              <th> Rating</th>

              

            </tr>
          </thead>
          <tbody>
                <tr>
                	<th>The visuals were effective in enhancing the message</th>
                	
                  	<td><%= @feedback.pv1 %></td>
                  	
                </tr>  
                <tr>
                	<th>The visuals were legible and easy to read</th>
                	
                  	<td><%= @feedback.pv2 %></td>
                  	
                </tr>  
                <tr>
                	<th>Visuals were free from grammar and formatting errors</th>
                	
                  	<td><%= @feedback.pv3 %></td>
                  	
                </tr>  
                <tr>
                	<th>The number of visual aids enhanced the presentation</th>
                	
                  	<td><%= @feedback.pv4 %></td>
                  	
                </tr>  
                <tr>
                	<th>The visuals were displayed for an appropriate time and had no annoying transition effect</th>
                	
                  	<td><%= @feedback.pv5 %></td>
                  	
               </tr>  
          </tbody> 
        </thead>
          
          
          <table class="table table-striped table-dark table-bordered">
          <thead>
            <tr>
              <th>Presentation Delivery</th>

              
              <th> Rating</th>

              

            </tr>
          </thead>
            <tbody> 
               <tr>
                	<th>The presenter spoke clearly, was easily heard, and maintained an appropriate talking rate</th>
                	
                  	<td><%= @feedback.pd1 %></td>
                  	
                  
               </tr>   
               <tr>
                	<th>The presenter maintained a good posture and made effective use of hand and body gesture </th>
                	
                  	<td><%= @feedback.pd2 %></td>
                  	
               </tr>   
               <tr>
                	<th>The presenter maintained eye contact with the audience</th>
                	
                  	<td><%= @feedback.pd3 %></td>
                  	
               </tr>
          </tbody>
        
          
          <table class="table table-striped table-dark table-bordered">
          <thead>
          </thead>
          <tbody>
          	  <tr>
          	  <th>Overall Rating</th>
          	  
                  <td><%= @feedback.overall_rating %></td>
                  
                 </tr>
                 <tr>
                 <th>Comments</th>
                 
                  <td><%= @feedback.comments %></td>
                  
                </tr>
                  
          </tbody>
        </table>
    </div>
    </br>
<%= link_to 'Edit |', edit_feedback_path(@feedback) %>
<%= link_to 'Back', presentations_path %>
</div>
