<!DOCTYPE html>
<html>
  <head>
    <title>ScarletFeverFinalproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class = "content">
    	<% if flash[:notice] %>
    	<div class="notice alert alert-success alert-dismissible fade show" role="alert"><%= notice %></div>
    	<% end %>
    	
    	<% if flash[:alert] %>
    	<div class="alert alert alert-danger alert-dismissible fade show" role="alert"><%= alert %></div>
    	<% end %>
    	
    	<p class= "alert" role="alert"><%= alert %></p>
    	<%= yield %>
    </div>
  </body>
</html>
